body {
    background-color: rgb(5, 225, 236);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(84, 30, 30);
    margin: 0;
    text-align: center;
}

#content {
    position: relative;
    background-color: rgb(52, 50, 50);
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    height: 100dvh;
}

#logo-container {
    padding: 20px;
}

#logo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#hero-image-container {
    width: 100%;
    height: 300px;
}

#hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#footer-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: black;
    color: white;
    height: 50px;
}