body {
    background-color: rgb(5, 225, 236);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(84, 30, 30);
    margin: 0;
    text-align: center;
    color:blueviolet;
}

#content {
    position: relative;
    background-color: rgb(52, 50, 50);
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    height: 100dvh;
}

#logo-container {
    padding: 20px;
}

#logo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#hero-image-container {
    width: 100%;
    height: 300px;
}

#hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#footer-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: black;
    color: white;
    height: 50px;
}

#image-carousel {

display: flex;

border: 2px solid black;

overflow-x: hidden;

width: 50%;

margin-top: 1rem;

margin-bottom: 1rem;

margin-left: auto;

margin-right: auto;

}

#carousel-images {

display: flex;

width: 100%;

overflow-x: scroll;

scroll-snap-type: x-mandatory;

}

.process-image {

width: 100%;

scroll-snap-align: start;

object-fit: cover;

}